.btn {
  padding: var(--space-2xs) var(--space-xs);
  border: var(--border-size-1) solid var(--accent-color);
  border-radius: var(--radius-1);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--surface-1);

  background-color: var(--accent-color);
  width: fit-content;
}

.btn:where(:hover, :focus) {
  color: var(--accent-color);
  background-color: var(--surface-1);
}

[data-variant="secondary"].btn {
  color: var(--secondary);
  border-color: transparent;
  background-color: transparent;
  text-decoration-line: underline;
}

[data-variant="secondary"].btn:where(:hover, :focus) {
  color: var(--accent-color);
}