.contact-methods {
  --min: 320px;
  --stack-gap: var(--space-l);
  --grid-gap: var(--space-xl);
  background-color: var(--surface-3);
}

.contact-methods > * {
  --flow-space: var(--space-l);
}

.contact-methods li {
  --flow-space: var(--space-s);
}

.contact-methods li:not(:first-child) {
  padding-top: var(--space-xl);
  /* padding-block-start: var(--space-xl); */
  border-top: var(--border-size-1) solid var(--accent-bg);
  /* border-block-start: var(--border-size-1) solid var(--accent-bg); */
}

@media (min-width: 47em) {  
  .contact-methods li {
    padding-top: var(--space-xl);
    /* padding-block-start: var(--space-xl); */
    border-top: var(--border-size-1) solid var(--accent-bg);
    /* border-block-start: var(--border-size-1) solid var(--accent-bg); */
  }
}

.contact-methods li h3 + * {
  color: var(--tertiary);
}

.contact-methods svg {
  width: 32px;
  /* inline-size: 24px; */
  height: 32px;
  /* block-size: 24px; */
  fill: var(--accent-color);
}

svg[class*="bi-telephone"] {
  stroke: var(--accent-color);
  stroke-width: 0.3px;
}

/* .contact-methods p {
  color: var(--tertiary);
}

.contact-methods label {
  color: var(--secondary);
} */

details[open] .form-summary {
  color: var(--accent-color);
  background-color: var(--surface-1);
  padding-left: 0;
  /* padding-inline-start: 0; */
  border: unset;
}

.contact-form {
  --measure: 50ch;
  --stack-gap: var(--space-l);
  max-width: var(--measure);
  margin-top: var(--space-l);
  /* margin-block-start: var(--space-l); */
}

.contact-form :where(textarea, input)  {
  border-width: var(--border-size-1);
  border-color: var(--accent-separator);
  border-style: solid;
}

.contact-form div > * + * {
  margin-top: var(--space-xs);
}

.form-label {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* validity styles for input  */
@supports
 (selector(:has(works))) {

  p:has( + input:focus:invalid) .validity:after { 
    content: "Invalid";
    color: hsl(0deg 73% 29%);
  }
  
  p:has( + input:valid) .validity:after { 
    content: "Valid";
    color: var(--accent-color);
  }
}