[data-location="home"] body > header, .hero, .cta-content {
  --header-bg: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230d544e' fill-opacity='0.06'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    hsl(198deg 45% 7%);
  --header-text: hsl(0deg 0% 100%);
}

[data-location="home"] .burger-menu__bar,
[data-location="home"] .burger-menu__bar::before,
[data-location="home"] .burger-menu__bar::after {
  background: var(--header-text);
  border-color: var(--header-text);
}

[data-location="home"] main {
  --flow-space: var(--space-l);
}

/* [data-location="home"] main > * {
  padding: 0;
} */

[data-location="home"] main>:nth-child(1) {
  /* padding-top: var(--space-l-xl); */
  padding-top: var(--space-s-m);
  padding-bottom: 0;
  /* padding-block-start: var(--space-s-m); */
  /* padding-block-end: 0; */
}

[data-location="home"] main>:nth-child(2) {
  margin-top: -360px;
  /* margin-block-start: -342px; */
  padding-top: var(--space-l-xl);
  /* padding-block-start: var(--space-l-xl); */
  background: var(--surface-1);
}

/* cta is supposed to be the last section on the page. No padding top is applied to it in the first place */
[data-location="home"] main>:nth-child(3) {
  padding-top: 0;
}

@media (min-width: 500px) {
  [data-location="home"] .section-title h2::after {
    content: "";
    height: 1px;
    /* block-size: 1px; */
    flex-grow: 999;
    background-color: var(--accent-bg);
  }
}