body > header, .hero, .cta-content {
  --stack-gap: var(--space-l);
  --header-bg: var(--surface-1);
  --header-text: var(--primary);

  background: var(--header-bg);
  color: var(--header-text);
}

body > header *, .hero *, .cta-content * {
  color: inherit;
}

