.offices {
  --flow-space: var(--space-l-xl);
}

.offices ul {
  --min: 320px;
  --grid-gap: var(--space-xl);
}

.offices li {
  border-top: var(--border-size-1) solid var(--accent-bg);
  padding-top: var(--space-xl);
}

.offices h2 {
  font-size: var(--step-4);
}

.offices :where(address, a) {
  --flow-space: var(--space-s);
}

@media (max-width: 46em) {
  .offices li:first-child {
    border: unset;
    padding-top: unset;
    /* padding-block-start: unset; */
  }
}