.product-list {
  --stack-gap: var(--space-m);
}

.product-list details[open] {
  margin-bottom: var(--space-m);
  /* margin-block-end: var(--space-m); */
}

.product-tag {
  padding-bottom: var(--space-xs);
  /* padding-block-end: var(--space-xs); */
  border-bottom: var(--border-size-1) solid var(--accent-separator);
  /* border-block-end: var(--border-size-1) solid var(--accent-separator); */
  color: var(--accent-color);
  font-weight: 500;
  text-transform: capitalize;
}

.product-list summary + * {
  padding-top: var(--space-xs);
  /* padding-block-start: var(--space-xs); */
}

.product-item {
  --min: 32ch;
  --grid-gap: var(--space-xs) var(--space-l-xl);
  padding-left: 1em;
  /* padding-inline-start: 1em; */
  text-transform: capitalize;
}

@supports (selector(:has(works))) {
  .product-item > li:not(:has(details))::before  {
    content: "\2022  ";
  }
}

.product-item details[open] summary {
  padding-bottom: var(--space-xs);
  /* padding-block-end: var(--space-xs); */
  border-bottom: var(--border-size-1) solid var(--accent-separator);
  /* border-block-end: var(--border-size-1) solid var(--accent-separator); */
}

.product-list ul ul {
  list-style: disc;
  padding-left: 1em;
}

.product-item summary::marker {
  color: hsl(198deg 98% 32% / 40%);
}