.product-list {
  --stack-gap: var(--space-m);
}

.product-list details[open] {
  margin-bottom: var(--space-m);
  /* margin-block-end: var(--space-m); */
}

.product-list summary {
  font-weight: 500;
  padding-bottom: var(--space-xs);
  /* padding-block-end: var(--space-xs); */
  border-bottom: var(--border-size-1) solid var(--accent-separator);
  /* border-block-end: var(--border-size-1) solid var(--accent-separator); */
  text-transform: capitalize;
}

.product-list summary + * {
  padding-top: var(--space-xs);
  /* padding-block-start: var(--space-xs); */
}

.product-list ul {
  column-width: 32ch;
  column-gap: var(--space-xl);
  list-style: circle;
  padding-left: 1em;
  /* padding-inline-start: 1em; */
}