.hero, .products, .testimonial, .archive, .post {
  padding-top: var(--space-m);
  /* padding-block-start: var(--space-m); */
}

.hero, .products, .testimonial, .archive, .cta {
  --flow-space: var(--space-l-xl);
}

.section-title {
  --cluster-gap: var(--space-s);
  justify-content: space-between;
}

.section-title h2 {
  display: flex;
  flex-grow: 999;
  flex-basis: 0;
}

@media (min-width: 500px) {
  .section-title h2::after {
    content: "";
    height: 1px;
    /* block-size: 1px; */
    flex-grow: 999;
    background-color: var(--accent-bg);
  }
}

.section-title + p {
  --flow-space: var(--space-m-s);
  --measure: 47ch;
}
