.hero, .about, .products, .testimonial, .archive, .post, .page-not-found, .offline {
  padding-top: var(--space-m);
  /* padding-block-start: var(--space-m); */
}

.hero, .products, .testimonial, .archive, .cta {
  --flow-space: var(--space-l-xl);
}

.section-title {
  --cluster-gap: var(--space-s);
  justify-content: space-between;
}

.section-title h2 {
  display: flex;
  flex-grow: 999;
  flex-basis: 0;
}

.section-title + p {
  --flow-space: var(--space-m-s);
  --measure: 47ch;
}
