<aside class="cta">
  <section class="wrapper">
    <div class="cta-content overflow:hidden">
      <div class="stack">
        <div class="flow">
          <h2>{{ section.cta.heading }}</h2>
          <p>{{ section.cta.subtitle }}</p>
        </div>
        <a class="btn step-0" href={{ section.cta.buttonUrl }}>{{ section.cta.buttonText }}</a>
      </div>
      <img 
        class="globe" 
        src="/img/globe-cta.png" 
        alt="Globe with markers depicting CG21 offices in India, Singapore and China" 
        loading="lazy"
        width="600"
        height="600"
      >
    </div>
  </section>
</aside>