<aside class="cta">
  <section class="wrapper">
    <div class="cta-content overflow:hidden">
      <div class="stack">
        <div class="flow">
          <h2>{{ cta.heading | addNbsp | safe }}</h2>
          <p>{{ cta.subtitle | addNbsp | safe }}</p>
        </div>
        <a class="btn step-0" href={{ cta.buttonUrl }}>{{ cta.buttonText }}</a>
      </div>
      <img 
        class="globe" 
        src="/img/globe-832w.png" 
        alt="Globe with markers depicting CG21 offices in India, Singapore and China" 
        loading="lazy"
        width="832"
        height="832"
      >
    </div>
  </section>
</aside>