<aside class="cta">
  <section class="wrapper">
    <div class="cta-content overflow:hidden">
      <div class="stack">
        <div class="flow">
          <h2>Do you have any import requirements?</h2>
          <p>Learn more about how we can fulfill your sourcing requirements</p>
        </div>
        <a class="btn step-0" href="/contact/">Contact Us</a>
      </div>
      <img 
        class="globe" 
        src="/img/globe-cta.png" 
        alt="Globe with markers depicting CG21 offices in India, Singapore and China" 
        loading="lazy"
        width="600"
        height="600"
      >
    </div>
  </section>
</aside>