<div class="products">
  <section class="wrapper flow">
    <header>
      <div class="section-title cluster">
        <h{{ headingLevel if headingLevel else '2' }} class="cluster">
          {{ product.heading }}
        </h{{ headingLevel if headingLevel else '2' }}>
        {%if not headingLevel %}
          <a href="{{ product.url }}" class="btn step-0">
            Know More
            <span class="visually-hidden">about {{ product.heading }}</span>
          </a>
        {% endif %}
      </div>
      <p>{{ product.subtitle | safe }}</p>
    </header>
    {% include "partials/cards.html" %}
  </section>
</div>
