<div class="products">
  <section class="wrapper flow">
    <header class="flow">
      <div class="section-title cluster">
        <h{{ headingLevel if headingLevel else '2' }} class="cluster">
          {{ section.product.heading }}
        </h{{ headingLevel if headingLevel else '2' }}>
        {%- if not headingLevel -%}
          <a href="{{ section.product.url }}" class="btn step-0">
            Know More
            <span class="visually-hidden">about {{ section.product.heading }}</span>
          </a>
        {%- endif -%}
      </div>
      <p>{{ section.product.subtitle | safe }}</p>
    </header>
    {%- include "partials/cards.html" -%}
  </section>
</div>
