<div>
  <section class="wrapper flow">
    <div class="section-header cluster">
      <h2 class="cluster">{{ testimonial.heading }}</h2>
      <a href="#" class="btn step-0">Know More</a>
    </div>
    <p>{{ testimonial.subtitle }}</p>
    <div class="youtube grid">
      {% include "partials/youtube.html" %}
      <div class="testimonial-content flow">
        <p class="fade-in">{{ testimonial.content }}</p>
        <p class="fade-in">{{ testimonial.name }}<br>{{ testimonial.job }}, {{ testimonial.company }}</p>
      </div>
    </div>
  </section>
</div>
