{%- set pickedPosts -%}
  [true]
{%- endset -%}

<div class="testimonial">
  <section class="wrapper flow">
    
    {%- include "partials/testimonial-header.html" -%}
    
    <ul class="testimonial-container grid" role="list">
      {%- for testimonial in collections.testimonials | pluck(pickedPosts, 'featured') | limit(1) -%}
        {%- include "partials/testimonial-block.html" -%}
      {%- endfor -%}
      {%- for testimonial in collections.testimonials | pluck(pickedPosts, 'homepage') | limit(2) -%}
        {%- include "partials/testimonial-block.html" -%}
      {%- endfor -%}
    </ul>
  </section>
</div>
