<div class="testimonial">
  <section class="wrapper box flow">
    <div class="section-header cluster">
      <h{{ headingLevel if headingLevel else '2' }} class="cluster">
        {{ testimonial.heading }}
      </h{{ headingLevel if headingLevel else '2' }}>
      {%if not headingLevel %}
        <a href="{{ testimonial.url }}" class="btn step-0">Know More</a>
      {% endif %}
    </div>
    <p>{{ testimonial.subtitle | safe }}</p>
    <div class="testimonial-featured grid">
      {% include "partials/youtube.html" %}
      <div class="testimonial-block stack">
        <p class="testimonial-content">{{ testimonial.content }}</p>
        <p>{{ testimonial.name }}<br>{{ testimonial.job }}, {{ testimonial.company }}</p>
      </div>
    </div>
    <div class="testimonial-normal grid">
      <div class="testimonial-block stack fade-in">
        <p class="testimonial-content">{{ testimonial.content }}</p>
        <p>{{ testimonial.name }}<br>{{ testimonial.job }}, {{ testimonial.company }}</p>
      </div>
      <div class="testimonial-block stack fade-in">
        <p class="testimonial-content">{{ testimonial.content }}</p>
        <p>{{ testimonial.name }}<br>{{ testimonial.job }}, {{ testimonial.company }}</p>
      </div>
    </div>
  </section>
</div>
