<!DOCTYPE html>
<html 
  lang="en" 
  {%- if dataLocation -%} data-location={{ dataLocation }}{%- endif -%}
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{ title }}</title>

  <script>document.documentElement.classList.add('with-js');</script>
  <link rel="stylesheet" href="/css/style.css"/>

  {%- if page.url == "/" -%}
    <meta name="theme-color" content="#0a151a">
  {%- else -%}
    <meta name="theme-color" content="#f8fbfc">
  {%- endif -%}

  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>
  <a href="#main" class="skip-to-main btn step-0">Skip to content ↓</a>
  <header>
    {%- include "partials/nav.html" -%}
  </header>

  {%- block content -%}
    This page is under maintenance.
  {%- endblock -%}
  
  {%- include "partials/footer.html" -%}
  <script src="/scripts/burger-menu.js" type="module" defer></script>
  <script src="/scripts/scale-up.js" defer></script>
  <script src="/scripts/fade-in.js" defer></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>