<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{ title }}</title>

  <script>document.documentElement.classList.add('with-js');</script>
  <link rel="stylesheet" href="/css/style.css"/>
  <meta name="theme-color" content="#0a151a" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#0a151a" media="(prefers-color-scheme: dark)">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
</head>
<body {% if dataTheme %} data-theme={{ dataTheme }}{% endif %}>
  {% block content %}
    This page is under maintenance.
  {% endblock %}
  <script src="/scripts/burger-menu.js" type="module" defer></script>
  <script src="/scripts/scale-up.js" defer></script>
  <script src="/scripts/fade-in.js" defer></script>
</body>
</html>