{%- extends "layouts/base.html" -%}
{% set logoLimit = 12 %}

{%- block content -%}
  <div class="clients">
    <section class="wrapper flow">
      {%- include "partials/clients-header.html" -%}
      {%- include "partials/clients.html" -%}
    </section>
  </div>
  <div class="testimonial">
    <section class="wrapper flow">  
      <h2>Client testimonials</h2>
      <ul class="testimonial-container grid" role="list">
        {%- for testimonial in collections.testimonials -%}
          {%- include "partials/testimonial-block.html" -%}
          {%- endfor -%}
      </ul>
    </section>
  </div>
  {%- include "sections/cta-section.html" -%}
{%- endblock -%}

{%- block bodyScripts -%}
  <script src="/scripts/lite-yt-embed.js" async></script>
{%- endblock -%}