---
title: Post
ctaContent:
  heading: Do you have any import requirements?
  subtitle: Learn more about how we fulfil your sourcing requirements by leveraging our presence at major gateway ports.
  buttonText: Contact Us
  buttonUrl: /contact/
---

{%- extends "layouts/base.html" -%}

{%- block beforeMain -%}
  <nav class="wrapper" aria-label="secondary">
    <a class="step-0" href="/archive/">← Back to the archive</a>
  </nav>
{%- endblock -%}

{%- block content -%}
  <div class="post">
    <article class="wrapper flow">
      <header class="stack">
        <h1>{{ title }}</h1>
        <p class="visually-hidden">Publish date:</p>
        <time datetime={{ date | dump | safe }}>
          {{ date | postDate }}
        </time>
        <!-- <p class="visually-hidden">Tags:</p>
        <ul class="post-tags cluster" role="list" aria-label="Tags">
          {%- for tag in tags -%}
            <li class="post-tag-item">{{ tag }}</li>
          {%- endfor -%}
        </ul> -->
      </header>
      {{ content | safe }}
    </article>
  </div>
  {%- include "sections/cta-section.html" -%}
{%- endblock -%}