.btn {
  padding: var(--space-3xs) var(--space-2xs);
  border: var(--border-size-1) solid;
  border-radius: var(--radius-1);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  color: var(--surface-1);
  background-color: var(--primary);
}
