.smol-css-grid {
  --min: var(--size-header-2);
  --gap: calc(2 * var(--gutter));
  display: grid;
  grid-gap: calc(2 * var(--gap)) var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  list-style: none;
  padding: 0;
}

.smol-card-component {
  --img-ratio: 1.618;
  --flow-space: var(--gutter);
  --border-color: hsl(210deg 5% 92%);
  --bg: hsl(180deg 9% 98%);
  --bg-hover: hsl(0deg 0% 96%);

  display: flex;
  flex-direction: column;
  border-radius: var(--radius-1);
  border: var(--border-size-1) solid var(--border-color);
  background-color: var(--bg);
}

/* Soon we can replace this with: gap: 1rem; */
/* .smol-card-component > * + * {
  margin-top: 1rem;
} */

/* .smol-card-component picture {
  --flow-space: 0;
} */

.smol-card-component img {
  /* Fallback for `aspect-ratio` of defining
  a height */
  height: max(18vh, 12rem);
  object-fit: cover;
  width: 100%;
}

/* When supported, use `aspect-ratio` */
@supports (aspect-ratio: 1) {
  .smol-card-component img {
    aspect-ratio: var(--img-ratio);
    height: auto;
  }
}

.smol-card-component picture:first-child img {
  border-radius: var(--radius-1) var(--radius-1) 0 0;
}

.smol-card-component picture:last-child img {
  border-radius: 0 0 var(--radius-1) var(--radius-1);
  margin-top: auto;
}

.smol-card-component > :not(picture) {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
}

.smol-card-component > :not(picture):first-child {
  margin-top: var(--gutter);
}

/* Enhanced `:not()` accepts a selector list,
but as a fallback you can chain `:not()` instead */
.smol-card-component > :last-of-type:not(picture, h2, h3, h4) {
  margin-bottom: var(--gutter);
}

.smol-card-component > a {
  align-self: start;
}
