
.cta-content {
  --stack-gap: var(--space-2xl);
  position: relative;
  padding: var(--space-l);
  min-width: 100%;
  border-radius: var(--radius-1);
  isolation: isolate;
}

.cta-content h2 {
  --measure: 32ch;
  max-width: var(--measure);
}

.cta-content p {
  /* --measure: 48ch; */
  --measure: 47ch;
  --flow-space: var(--space-m);
  filter: brightness(0.9);
}

.cta-content a {
  border-color: var(--accent-color);
}

.cta-content a:hover {
  color: var(--header-text);
  background-color: transparent;
  text-decoration-line: none;
  border-color: currentColor;
}

.cta-content img {
  position: absolute;
  right: 0;
  bottom: 0;
  /* transform: translate(25%, 50%);
  height: 200%; */
  transform: translate(30%, 50%);
  height: 230%;
  width: auto;
  object-fit: contain;
  z-index: -1;
  pointer-events: none;
}

.cta em {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 0.5ex;
  /* text-underline-offset: -1ch; */
  text-decoration-skip-ink: none;
}