footer {
  font-size: 12px;
  width: 100%;
  margin-block-start: auto;
  border-block-start: var(--border-size-1) solid;
}

footer * {
  color: inherit;
}

footer div {
  --cluster-gap: var(--space-3xs);
  padding-block: var(--space-s);
  justify-content: space-between;
}
