footer {
  /* --bg: hsl(198deg 45% 10% / 2%); */
  width: 100%;
  margin-block-start: auto;
  border-block-start: 1px solid white;
}

footer * {
  color: inherit;
}

footer div {
  --cluster-gap: var(--space-3xs);
  padding-block: var(--space-s);
  justify-content: space-between;
}
