body > header {
  --stack-gap: var(--space-l);
  --header-bg: var(--surface-1);
  --header-text: hsl(198deg 45% 7%);
  --header-link: var(--primary);
  --header-link-hover: var(--header-text);
  background: var(--header-bg);
  color: var(--header-text);
}

body > header * {
  color: inherit;
}

body > header a {
  color: var(--header-link);
}
