header {
  --stack-gap: var(--space-l);
  --bg: hsl(198deg 45% 7%);
  --primary: hsl(0deg 0% 100%);
  background: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230d544e' fill-opacity='0.06'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    var(--bg);
  color: var(--primary);
}

.hero {
  padding-block: 0;
}

.hero-content {
  --stack-gap: 0;
  align-items: center;
  text-align: center;
  /* min-height: 80vh; */
  /* overflow: hidden; */
  /* border-block-end: var(--border-size-2) double var(--accent-color); */
}

:where(.hero-section) h1 {
  --flow-space: var(--space-m);
  /* letter-spacing: var(--font-letterspacing-0); */
}

/* :where(.hero-section) small {
  font-size: var(--font-size-fluid-0);
  color: var(--gray-9);
  text-transform: uppercase;
  font-weight: 500;
  border-inline-start: var(--border-size-3) solid var(--gray-4);
  border-block-end: var(--border-size-3) solid var(--gray-4);
  padding-inline-start: var(--border-size-3);
  padding-block-end: var(--border-size-3);
} */

.globe-subtitle {
  /* --flow-space: var(--size-fluid-2); */
  /* font-size: var(--font-size-fluid-0); */

  /* --accent-color: hsl(174deg 52% 86%); */
  /* display: inline-block; */
  color: var(--tertiary);
  text-transform: uppercase;
  /* border-inline-start: var(--border-size-1) double;
  padding-inline-start: var(--border-size-4); */

  /* font-size: var(--step--1); */

  --flow-space: var(--space-m-l);
}

/*  .globe {
  position: absolute;
  overflow: hidden;
  min-height: 100vh;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}  */

.globe {
  position: relative;
}

/* .globe:before {
  content: "";
  width: 82%;
  height: 82%;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
  background: hsl(0deg 0% 100% / 1%);
} */
.globe:after {
  content: "";
  width: 82%;
  height: 82%;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
  background: hsl(0deg 0% 100% / 1%);
}

canvas {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  display: block;
}
