/* main:before {
  background: #0e1e25;
  content: " ";
  display: block;
  height: var(--gutter);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
} */

/* main {
  margin-block-start: -360px;
  background: var(--bg);
  z-index: 1;
} */
/* 
@media (orientation: landscape) {
  .with-js main {
    --ease-1: cubic-bezier(0.25, 0, 0.5, 1);
    --ease-3: cubic-bezier(0.25, 0, 0.3, 1);
    --animation-scale-up: scale-up 1s var(--ease-1);
    --animation-fade-in: fade-in 1s var(--ease-3);
    animation: var(--animation-scale-up) forwards, var(--animation-fade-in);

    animation-timing-function: var(--ease-3);

    animation-play-state: paused;
    
    animation-delay: calc(var(--scroll) * -1s);
    
    animation-iteration-count: 1;
    animation-fill-mode: both;

    border-radius: var(--radius-2);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes scale-up {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
} */
