---
permalink: css/style.css
---
{% set css %}
  {% include "../css/reset.css" %}
  {% include "../css/type.css" %}
  {% include "../css/space.css" %}
  {% include "../css/theme.css" %}
  {% include "../css/utilities.css" %}
  {% include "../css/section.css" %}
  {% include "../css/button.css" %}
  {% include "../css/burger-menu.css" %}
  {% include "../css/hero.css" %}
  {% include "../css/products.css" %}
  {% include "../css/cards.css" %}
  {% include "../css/footer.css" %}
  {% include "../css/animations.css" %}
  {% include "../css/youtube.css" %}
{% endset %}

{{ css | cssmin | safe }}