.testimonial {
  --flow-space: var(--space-xl-2xl);
  padding-top: var(--space-m);
  /* padding-block-start: var(--space-s-m); */
}

.testimonial-block {
  --flow-space: var(--space-m);
  padding: var(--space-m);
  counter-increment: eyebrow;
}

.testimonial-featured {
  --grid-gap: 0;
  border-radius: var(--radius-1);
  border: var(--border-size-1) solid var(--separator);

  overflow: hidden;
}

.testimonial-featured .testimonial-block {
  aspect-ratio: 16/9;
}

.with-js .testimonial-featured .testimonial-block {
  aspect-ratio: unset;
}

.testimonial-featured .testimonial-block::before {
  content: "Featured";
  text-transform: uppercase;
  font-size: var(--step-0);
  font-weight: 500;
  background: var(--accent-bg);
  width: max-content;
  /* inline-size: max-content; */
  padding: var(--space-4xs) var(--space-xs);
  border-radius: 1em;
  color: var(--accent-color);
  border: var(--border-size-1) solid;
}

.testimonial-normal {
  --flow-space: var(--space-m);
  --grid-gap: var(--space-m);
  --min: 320px;
}

.testimonial-normal .testimonial-block {
  border-radius: var(--radius-1);
  border: var(--border-size-1) solid var(--separator);
}

.testimonial-block :last-child {
  margin-top: auto;
  /* margin-block-start: auto; */
}

.testimonial-content {
  margin-bottom: var(--space-l);
  /* margin-block-end: var(--space-l); */
}

.testimonial-client-info {
  --stack-gap: 0;
}

.testimonial-client-info small {
  font-size: var(--step-1);
}
