:root {
  --bg: hsl(180deg 45% 98%);
  --primary: hsl(198deg 45% 10%);
  --secondary: hsl(198deg 18% 22%);
  --tertiary: hsl(198deg 5% 62%);
  --accent-color: hsl(175deg 73% 30%);

  --gutter: var(--space-m-2xl);
  --radius-2: var(--space-2xs);
  --radius-1: var(--space-3xs);

  --font-plain: Helvetica Neue, sans-serif, "Segoe UI", Roboto, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-special: Helvetica Neue, sans-serif, "Segoe UI", Roboto, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  font-family: var(--font-plain);
  background: var(--primary);
  color: var(--secondary);
}

body {
  font-size: var(--step-1);
  line-height: 1.5625;
  background: var(--bg);
}

h1,
h2,
h3 {
  text-transform: capitalize;
  font-family: var(--font-special);
  color: var(--primary);
}

h1 {
  --measure: 26ch;
  max-width: var(--measure);
  font-size: var(--step-4);
  color: var(--primary);
  line-height: var(--font-lineheight-1);
  font-weight: 700;
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

a {
  display: inline-block;
  background-color: transparent;
  text-decoration: underline;
  color: var(--primary);
  /* font-family: var(--font-special); */
}

/* a:hover {
  color: var(--primary);
  text-decoration: none;
} */
