:root {
  --bg: hsl(180deg 45% 98%);
  --primary: hsl(198deg 45% 10%);
  --accent-color: hsl(175deg 73% 19%);
  --gutter: var(--space-m-xl);
  --radius-2: var(--space-2xs);
  --radius-1: var(--space-3xs);

  font-family: "Space Grotesk";
  background: var(--bg);
  color: var(--primary);
}

body {
  font-size: var(--step-1);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

h1 {
  --measure: 22ch;
  max-width: var(--measure);
  font-size: var(--step-4);
  color: var(--primary);
  line-height: var(--font-lineheight-1);
  font-weight: 900;
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

a {
  display: inline-block;
  background-color: transparent;
  text-decoration: underline;
  color: var(--accent-color);
}

a:hover {
  color: var(--primary);
  text-decoration: none;
}

/* hr {
  margin-block-end: 0;
  background-color: hsl(180deg 9% 98%);
  border-color: hsl(200deg 5% 66%);
  color: hsl(200deg 5% 66%);
  border: none;
  height: 2px;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--red-9);
    --primary: var(--red-1);
    --accent-color: var(--red-0);
  }
} */
