:root {
  --surface-1: hsl(198deg 45% 98%);
  --surface-2: hsl(198deg 100% 99%);
  --primary: hsl(198deg 45% 10%);
  --secondary: hsl(198deg 18% 22%);
  --tertiary: hsl(198deg 5% 62%);
  --accent-color: hsl(198deg 73% 29%);
  --accent-bg: hsl(198deg 73% 29% / 10%);
  /* --separator: hsl(198deg 45% 10% / 8%); */
  --separator: hsl(198deg 13% 91%);

  --gutter: var(--space-m-2xl);
  /* --radius-2: var(--space-2xs);
  --radius-1: var(--space-3xs); */
  --radius-1: var(--space-3xs);
  --radius-2: var(--space-2xs);

  --font-lineheight-0: 1.1;
  --font-lineheight-1: 1.25;
  --font-letterspacing-0: -0.05em;
  --font-letterspacing-2: 0.05em;
  --border-size-1: 1px;

  --font-plain: Helvetica Neue, sans-serif, "Segoe UI", Roboto, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-special: Helvetica Neue, sans-serif, "Segoe UI", Roboto, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  font-family: var(--font-plain);
  background: var(--primary);
  color: var(--secondary);
}

body {
  font-size: var(--step-1);
  line-height: 1.5625;
  background: var(--surface-1);
}

main {
  margin-block-start: -342px;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  font-family: var(--font-special);
  color: var(--primary);
}

h1 {
  --measure: 26ch;
  max-width: var(--measure);
  font-size: var(--step-4);
  color: var(--primary);
  line-height: var(--font-lineheight-1);
  font-weight: 700;
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

a {
  display: inline-block;
  text-decoration: underline;
  color: var(--primary);
  /* font-family: var(--font-special); */
  text-underline-offset: var(--space-3xs);
}

em {
  font-style: normal;
  /* text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 0.8ex;
  text-underline-offset: -0.8ex;
  text-decoration-skip-ink: none; */

  color: var(--accent-color);
  font-weight: 500;
}
