---
title: CG21
hero:
  heading: >
    One-stop shop from Chinese ports to your factory doors
  subtitle: >
    Offices in India, Singapore and China ↓
  url: "/#"
product:
  heading: >
    Our Products
  subtitle: >
    Lorem ipsum dolor sit amet <em>industry leading</em> elit. Natus ex nam, omnis, inventore dolores modi cumque!
  url: "/products"
testimonial:
  heading: Client Stories
  subtitle: >
    Our customers <em>trust</em> us to deliver exceptional service. Read a few of our client testimonials.
  url: "/clientele"
  videoID: "ejfsN8xOEoU"
  videoTitle: >
    CEO Satya Nadella on the Importance of Education
  content: >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatum accusamus esse omnis labore id fugit qui possimus. Tempora, sed. Lorem ipsum dolor sit amet consectetur.
  name: Satya Nadella
  job: CEO
  company: Microsoft
dataLocation: home
---
{% set videoTitle = testimonial.videoTitle %}
{% set videoId = testimonial.videoID %}

{% extends "layouts/base.html" %}

{% block content %}
<main>
  {% include "sections/products-section.html" %}
  {% include "sections/testimonials-section.html" %}
</main>
{% endblock %}