<ul class="smol-css-grid grid">
  <li class="smol-card-component stack fade-in">
    {% image "https://images.unsplash.com/photo-1511578194003-00c80e42dc9b", "Port with cargo being moved" %}
    <h3>Card Headline 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex incidunt laboriosam velit, quas alias expedita at natus dolorum?</p>
  </li>
  <li class="smol-card-component stack fade-in">
    <h3>Card Headline 2</h3>
    {% image "https://images.unsplash.com/photo-1496247749665-49cf5b1022e9", "Factory with heavy machinery" %}
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex incidunt laboriosam velit, quas alias expedita at natus dolorum?</p>
  </li>
  <li class="smol-card-component stack fade-in">
    <h3>Card Headline 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex incidunt laboriosam velit, quas alias expedita at natus dolorum?</p>
    {% image "https://images.unsplash.com/photo-1590496794008-383c8070b257", "Ship carrying cargo" %}
  </li>
</ul>