<ul data-component="" class="smol-css-grid">
  <li data-component="" class="smol-card-component flow">
    <img src="https://images.unsplash.com/photo-1511578194003-00c80e42dc9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
    <h3>Card Headline 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex incidunt laboriosam velit, quas alias expedita at natus dolorum?</p>
  </li>
  <li data-component="" class="smol-card-component flow">
    <h3>Card Headline 2</h3>
    <img src="https://images.unsplash.com/photo-1496247749665-49cf5b1022e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2946&q=80" alt="">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex incidunt laboriosam velit, quas alias expedita at natus dolorum?</p>
  </li>
  <li data-component="" class="smol-card-component flow">
    <h3>Card Headline 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex incidunt laboriosam velit, quas alias expedita at natus dolorum?</p>
    <img src="https://images.unsplash.com/photo-1590496794008-383c8070b257?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2782&q=80" alt="">
  </li>
</ul>