<div class="globe">
  <canvas
    id="cobe"
    style="width: 720px; height: 720px;"
    width="1440"
    height="1440"
    aria-label="Rotating globe with markers depicting CG21 offices in India, Singapore and China"
  >
    <img src="/img/globe.png" alt="Globe with markers depicting CG21 offices in India, Singapore and China" style="width: 720px; max-width: unset;" width="720"
    height="720">
  </canvas>
</div>
<button class="btn step--1" id="pause" data-animation="on" aria-live="polite">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" role="img" aria-labelledby="title">
    <title id="title">Toggle globe animation on or off</title>
    <path d="M10 31.4V16.6L21 24Zm17 .6V16h3v16Zm8 0V16h3v16Z"/>
  </svg>
</button>

<script 
    src="/scripts/globe.js" 
    async 
    fetchpriority="high"
></script>