<div class="site-head__inner cluster">
  <a href="/" aria-label="ACME home" class="site-head__brand">
    <img src="/img/logo.svg" alt="ACME logo" />
  </a>
  <burger-menu max-width="600">
    <nav class="navigation" aria-label="primary">
      <ul role="list" class="cluster">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Our Work</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">Your account</a>
        </li>
      </ul>
    </nav>
  </burger-menu>
</div>