<div class="site-head__inner cluster">
  <a href="/" aria-label="CG21 Home" class="site-head__brand">
    {% include "partials/logo.svg" %}
  </a>
  <burger-menu max-width="600">
    <nav class="navigation step-0" aria-label="primary">
      <ul role="list" class="cluster">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/products">Our Products</a>
        </li>
        <li>
          <a href="/clientele">Clientele</a>
        </li>
        <li>
          <a href="/" class="cta btn">Contact Us</a>
        </li>
      </ul>
    </nav>
  </burger-menu>
</div>