<div class="offices">
  <section class="wrapper flow">
    <h2 class="">Offices</h2>
    <ul class="grid" role="list">
      <li class="flow">
        <h3>India</h3>
        <address class="flow">
          <p>CG21 EXIM
            <br>
            1013, 10th Floor, Samartha Aishwarya
            <br>
            Opp Highland Park, Oshiwara
            <br>
            Lokhandwala, Andheri (West)
            <br>
            Mumbai 400 053
          </p>
          <div>
            <p>10:00 AM–6:00 PM IST</p>
            <p class="day">Monday–Friday</p>
          </div>
        </address>
        <a class="btn step-0" href="tel:+912235573559">Call +91 22-35573559</a>
      </li>
      <li class="flow">
        <h3>Singapore</h3>
        <address class="flow">
          <p>CG21 PTE LTD
            <br>
            #23-08, SBF Center
            <br>
            160 Robinson Road
            <br>
            Singapore 068914
          </p>
          <div>
            <p>10:00 AM–6:00 PM SGT</p>
            <p class="day">Monday–Friday</p>
          </div>
        </address>
      </li>
      <li class="flow">
        <h3>China</h3>
        <address class="flow">
          <p>Dongying city
            <br>
            Shandong province
            <br>
            China
          </p>
          <div>
            <p>10:00 AM–6:00 PM CST</p>
            <p class="day">Monday–Friday</p>
          </div>
        </address>
      </li>
    </ul>
  </section>
</div>