<ul class="product-list stack" role="list">
  {% for tag in collections.tagList.sort() | reverse %}
    <li>
      <details-utils force-close="(max-width: 600px)">
        <details open>
          <summary class="product-tag">{{ tag }}</summary>
          <ul class="product-item grid" role="list">
            {% for product in collections[ tag ] %}
              <li>
                {%- if product.data.sub -%}
                  <details>
                    <summary>
                      {{ product.data.title }}
                    </summary>
                    <div>
                      <ul class="flow" role="list">
                        {% for item in product.data.sub %}
                          <li class="step-0">{{ item }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </details>
                {%- else -%}
                  {{ product.data.title }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          <!-- <a href="#" style="margin-block: var(--space-m);">
            {% include "partials/doc.svg" %}
            <span>
              <span class="visually-hidden">of {{ product.data.title }}</span>
              Sales specification
            </span>
          </a> -->
        </details>
      </details-utils>
    </li>
  {% endfor %}
</ul>

